body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

a {
    color: white;
    background-color: #3070bf;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    width: 156px;
    text-align: center;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #1e5a9a;
}